/* tema DS */
.tema-ds #app {
    background-color: #f9f9f9;
}
.tema-ds .card,
.tema-ds .card .img-thumbnail {
    border-radius:1rem;
}
.tema-ds .card .label-item-adicionado {
	background-color: #66c925;
    color: #fff;
}
.tema-ds .card .card-title {
    color: #242c2f;
    letter-spacing: .02em;
}
.tema-ds .card .card-footer .price {
    color: #f09;
    font-weight: 700;
}
.tema-ds .card button {
    height: 4rem;
    line-height: 1;
    box-shadow: none;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 12rem;
    padding: .2rem 1.4rem;
}
.tema-ds .botao-adicionar {
    color: #fff;
    background: #66c925;
    border-color: #66c925;
}
.tema-ds .card .card-footer .linha-acao input {
    font-size:1.4rem; 
    padding: 0 .9rem;
    color: #0b1113;
    text-align: center;
    border-radius: 12rem;
    background: #f9f9f9;
    box-sizing: border-box;
    vertical-align: baseline;
    background-clip: padding-box;
    border: .1rem solid #d2d2d2;
}
.tema-ds .toast-container .toast-body{
    font-size: 1.4rem;
}
.tema-ds .toast-container .success{
    color: #fff;
    background: #66c925;
    border:1px solid #55b814;
}
.tema-ds .toast-container .danger{
    color: #7a1d20;
    background: #f5d6d7;
    border:1px solid #7a1d20;
}
.tema-ds .label-quantidade{
    color:#fff;
    background-color: #f09;
}
.tema-ds .nav-item:hover a {
    color:#09f;
}
.tema-ds .nav-link.active {
    color:#f09;
}
.tema-ds .listagem-de-produtos .filtros-campo select,
.tema-ds .listagem-de-produtos .filtros-campo button,
.tema-ds .listagem-de-produtos .filtros-campo input{
    border-radius:30px;
}