:root {
    --branco: #f9f9f9;
    --verde: #66c925;
    --texto-primario: #222;
    --enfase: #DC5D58;
    --primario: #16a7b9;
}

.tema-kathavento #app {
    background-color: #fff;
}

.tema-kathavento .card .label-item-adicionado {
    background-color: var(--verde);
    color: #fff;
}

.tema-kathavento .card .card-title {
    color: var(--texto-primario);
    letter-spacing: .02em;
}

.tema-kathavento .card .card-footer .price {
    color: var(--enfase);
    font-weight: 700;
}

.tema-kathavento .botao-adicionar {
    color: #fff;
    background: var(--verde);
    border-color: var(--verde);
}

.tema-kathavento .card .card-footer .linha-acao input {
    font-size: 0.75rem;
    padding: 0 0.5rem;
    color: var(--texto-primario);
    text-align: center;
    border-radius: 12rem;
    background: var(--branco);
    box-sizing: border-box;
    vertical-align: baseline;
    background-clip: padding-box;
    border: .1rem solid #d2d2d2;
}

.tema-kathavento .toast-container .success {
    color: #fff;
    background: var(--verde);
    border: 1px solid var(--verde);
}

.tema-kathavento .danger {
    color: #7a1d20;
    background: #f5d6d7;
    border: 1px solid #7a1d20;
}

.tema-kathavento button.danger {
    color: #7a1d20;

}

.tema-kathavento button.info {
    color: #1d487a;
}

.tema-kathavento button.sem-estilo {
    background: transparent;
    border: 1px solid transparent;
}

.tema-kathavento .label-quantidade {
    color: #fff;
    background-color: var(--enfase);
}

.tema-kathavento .nav-item:hover a {
    color: var(--primario);
}

.tema-kathavento .nav-link.active {
    color: var(--enfase);
}

.tema-kathavento .listagem-de-produtos .filtros-campo select,
.tema-kathavento .listagem-de-produtos .filtros-campo button,
.tema-kathavento .listagem-de-produtos .filtros-campo input,
.tema-kathavento .listagem-de-produtos .filtros-campo span,
.tema-kathavento .card input {
    border-radius: 1.75rem;
}

.tema-kathavento .lista-de-promocoes .regras .regra .regra-texto span {
    border: 3px solid #09f;
    font-weight: 600;
    color: #09f;
}

.tema-kathavento .lista-de-compras .brinde {
    border: 3px solid #09f;
}

.tema-kathavento .lista-de-compras .card .valor-e-quantidade h3 {
    color: var(--enfase);
    font-weight: 600;
}